<!DOCTYPE html>
<html>
<head>
    <title>My first web page</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <style> 
  h1
  { font-size: 40px;
  font-family:roboto;
   font-weight: normal;
   color:rgb(0,255,0,);
   txet: align center;;
  }
    #banner{
     
      width: 240px;
      height=200px;
      object-fit:cover;
    }
    h2
  { font-size: 40px;
  font-family:roboto;
   font-weight: normal;
   color:rgb(0,2,255,);
   txet: align center;;
  }
    #container
    {
      max-width:720px;
      margin:0 auto 0 auto;
    }
    .bodytext
    {
      color: rgb(0,0,255)
    }
    </style>
</head>
<body>
<div id = "container">
  <h1 >Getachew Careers </h>  <br> 
  <img id="banner"  src="https://gechi-careers-website.getachewderes.repl.co/static/gechi.png" ></>
  <h2>About Gechi </h2>
  <p class="bodytext"> .
Why do we use it?

It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
 </p>
  <h1>Open Positions </h1>
  <p clas="bodytext"> TODO show the job here</p>
  <!--this neithr html nor python programing part instad it is flask-->
  <P>{{jobs}}</P>
  <div style=" text-align: center">
  <button class="btn btn-success"> Contact Us </button>
    <p>Copy right 20215 E.C , Gechi </p>
  </div>
</div>
</body>
</html>
