<!DOCTYPE html>
<html>
<head>
    <title>My first web page</title>
  <style> 
  h1
  { font-size: 40px;
  font-family:roboto;
   font-weight: normal;
   color:rgb(0,255,0,);
   txet: align center;;
  }
    #banner{
     
      width: 240px;
      height=200px;
      object-fit:cover;
    }
    h2
  { font-size: 40px;
  font-family:roboto;
   font-weight: normal;
   color:rgb(0,2,255,);
   txet: align center;;
  }
    #container
    {
      max-width:720px;
      margin:0 auto 0 auto;
    }
    .bodytext
    {
      color: rgb(0,0,255)
    }
    </style>
</head>
<body>
<div id = "container">
  <h1 >Getachew Careers </h>  <br> 
  <img id="banner"  src="https://gechi-careers-website.getachewderes.repl.co/static/gechi.png" ></>
  <h2>About Gechi </h2>
  <p class="bodytext"> .
Why do we use it?

It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
 </p>
  <h1>Open Positions </h1>
  <p clas="bodytext"> TODO show the job here</p>
  <div style=" text-align: center">
  <button> Contact Us </button>
    <p>Copy right 20215 E.C , Gechi </p>
  </div>
</div>
</body>
</html>
